@import url('./fonts.scss');
@import url('./reset.scss');
@import url('./variables/global.scss');
@import url('./variables/theme.scss');

body {
    color: var(--text-primary-color);
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}
