.PatientStateCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #deebfd;
    border-radius: 30px 30px 10px 10px;
    background: var(--inverted-bg-color);
    box-shadow: -8px 12px 18px 0 #dadee8;
    overflow-y: auto;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.content {
    flex-grow: 1;
    padding: 10px 20px;
}

.red {
    background: linear-gradient(90deg, rgb(227 38 38 / 100%) 18%, rgb(255 72 0 / 100%) 83%);
}

.green {
    background: linear-gradient(90deg, rgb(20 167 62 / 100%) 19%, rgb(91 199 27 / 100%) 79%);
} 

.orange {
    background: linear-gradient(90deg, rgb(227 114 38 / 100%) 25%, rgb(255 158 0 / 100%) 90%);
}
