.IndicatorForm {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 500px;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    gap: 15px;
    transform: translate(-50%, -50%);
}

.input {
    width: 100%;
}

.inputWithTooltip {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;

    .input {
        flex-grow: 1;
    }
}

.horizontalWrapper {
    display: flex;
    margin-top: 10px;
    gap: 15px;
}

.btn {
    margin-top: 15px;
}
