.wrapperA {
    display: grid;
    gap: 20px;
    grid-template-areas: 'symptoms diseases rates';
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapperB {
    display: grid;
    margin-top: 20px;
    gap: 20px 30px;
    grid-template-areas: 
        'suspicions risks'
        'medicines recommendations';
    grid-template-columns: 1fr 1fr;
}

.symptoms {
    height: 300px;
    grid-area: symptoms;
}

.suspicions {
    min-height: 300px;
    grid-area: suspicions;
}

.diseases {
    min-height: 300px;
    grid-area: diseases;
}

.medicines {
    min-height: 300px;
    grid-area: medicines;
}

.risks {
    min-height: 300px;
    grid-area: risks;
}

.rate {
    min-height: 300px;
    grid-area: rates;
}

.recommendations {
    min-height: 300px;
    grid-area: recommendations;
}
