.document {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .message {
        padding: 20px;
        border-radius: 20px;
        background-color: var(--inverted-bg-color);
        box-shadow: -8px 12px 18px 0 #dadee8;
    }
    
}
