.AppLink {
    color: var(--text-primary-color);

    &:hover {
        opacity: 0.6;
    }
}

.primary {
    color: var(--text-primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
} 
 
.red {
    color: #f00; 
}
