.IndicatorForm {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--inverted-bg-color);

    h2 {
        font-weight: 700;
    }

    gap: 20px;
    transform: translate(-50%, -50%);

    .input {
        width: 80%;
    }

    .horizontalWrapper {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}
